{% extends 'main/origin.html' %}
{% load static %}


{% block title %}Completed{% endblock %}

{% block content %}
<header class="header">
    <div class="container">
            <div class="header__logo">
                <img src="{{ MEDIA_URL }}/Logo.png" alt="logo">
                <h1 class="header__title"> SUAB Bygg och VVS</h1>
            </div>

        <div class="header__block">
            <h2 class="header__title2"> SUAB Bygg och VVS</h2>
            <p class="header__description">- ett företag som värnar om kunden och dennes intressen. Vårt mål är att alltid ha nöjda kunder,
                <br> nöjda kunder lika vanliga kunder.</p>
                    <a href="">
                        <button class="header__button">Button</button>
                    </a>
        </div>
    </div>
</header>

<section class="main">
    <img class="main__img" src="{{ MEDIA_URL }}/imageMain.png" alt="">
</section>





<section class="footer">
    <img class="footer__image" src="{{ MEDIA_URL }}/footer.png" alt="">
    <div class="container">
       <div class="footer__info">
           <div class="footer__block">
               <h3 class="footer__title">Logotype</h3>
               <div class="footer__icons">
                   <img src="{{ MEDIA_URL }}/icon1.png" alt="facebook">
                   <img src="{{ MEDIA_URL }}/icon2.png" alt="instagram">
                   <img src="{{ MEDIA_URL }}/icon3.png" alt="telegram">
                   <img src="{{ MEDIA_URL }}/icon4.png" alt="whatsapp">
               </div>
               <p class="footer__descr">Lorem ipsum Lorem ipsum</p>
           </div>

           <div class="footer__contact">
               <h3 class="footer__title">Contact us</h3>
               <p class="footer__description">Phone number: +996 706 05 02 03</p>
               <p class="footer__description">Adress: Ibraimova street 103</p>
               <p class="footer__description3">E-mail: loremipsum@gmail.com</p>
           </div>
       </div>
    </div>
</section>
{% endblock %}
