<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/libs/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/libs/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fill.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/photo.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/pictures.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/gallery.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
        <script type="text/javascript" src="{% static 'main/js/jquery-3.6.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'main/libs/owl-carousel/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
</body>
</html>