.photo{
    background: #E5E5E5;
    padding: 126px 201px 100px;
}

.photo__img {
    width: 100%;
    margin-bottom: 100px;
}

.photo__block{
    width: 225px;
    height: 225px;
}

.photo__row1{
    position: absolute;
    transform: translate(110%, -100%);
}


.photo__contents{
    margin-bottom: 50px;
}